<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>計算屬性_插值語法實現</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <style>
    </style>
</head>
<body>
    <div id="root">
        姓:<input type="text" v-model="lastName" > <br/>
        名:<input type="text" v-model="firstName" > <br>
        全名:<span>{{lastName}}-{{firstName}}</span>
    </div>
    <script type="text/javascript">

        const vm = new Vue({
            el: "#root",  
            data:{
                lastName: "安",
                firstName: "宥真"
            }
        })
    </script>
</body>
</html>