<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>列表排序</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>
<body>
  <!--
     -->
  <div id="root">
    <h2>人員列表-排序</h2>
    <input type="text" placeholder="請輸入名字" v-model="keyword">
    <button @click="sortType=2">年齡升序</button>
    <button @click="sortType=1">年齡降序</button>
    <button @click="sortType=0">原順序</button>
    <ul>
      <li v-for="(p, index) in filterPersonArr" :key="p.id">
        {{p.name}}-{{p.age}}-{{p.company}}
      </li>
    </ul>
  </div>
  <script type="text/javascript">

    // 用computed實現
    new Vue({
      el: '#root',
      data: {
        sortType: 0,  // 0原順序、1升序、2降序
        keyword: '',
        personArr: [
          {id: '001', name:'金冬天', age:'23', company:'sm'},
          {id: '002', name:'裴柱現', age:'33', company:'sm'},
          {id: '003', name:'金智秀', age:'29', company:'yg'},
          {id: '003', name:'裴秀智', age:'30', company:'jyp'},
        ],
      },
      computed: {
        filterPersonArr(){
          const arr = this.personArr.filter((p) => {
            return p.name.indexOf(this.keyword) !== -1
          })

          //判斷是否需要排序
          if (this.sortType){
            arr.sort((p1,p2) =>{
              return this.sortType === 1 ? p2.age-p1.age : p1.age-p2.age;
            })
          }
          return arr;
        }
      }
    })
  </script>
</body>
</html>